body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    width: 1200px;
    height: 1500px;
    background-image: url("project6/assets/images/Clouds.jpeg");
}
.container{
    
}

h1,h2,h3 {
    font-family: "Itim", sans-serif;
    font-weight: 700;

}

h1{
    font-style: italic;
}


button#search-btn {
    font-size: 20px;
}

.form-inline {
    width: 205px;
}


#search-btn {
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px; 
    
}

div#giffy-area {
    border: 1px solid #ddd;
    border-radius: 5px;

}

img.gifImg {
    max-width: 300px;
    max-height: 150px;
    margin: 5px;
}

.gif-div {
    min-height: 215px;
    float: left;
}

.rating {
    text-transform: uppercase;
    padding: 0 0 0 10px;
}




